@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 20px;
}

.hero-header,
.hero-content,
.card-section,
.quote-section .quote,
.quote-section .attribution,
.call-to-action-section {
    margin-left: 75px;
    margin-right: 75px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: space-between;
    color: #F9FAF8;
    padding-left: 0px;
    gap: 0px;
}

.hero-header,
.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-header {
    margin-top: 10px;
}

.hero-content {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-links ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.click-me {
    font-size: 20px;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 10px 30px;
    color: #F9FAF8;
}

.white-border {
    border: 2px solid white;
}

.card-section {
    text-align: center;
    padding: 75px;
}

.cards img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: 4px solid #3882f6;
}

.cards ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px;
}

.quote {
    flex: auto;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    flex: auto;
    align-self: flex-end;
    font-size: 30px;
    font-weight: bold;
    color: #1F2937;
    padding-top: 5px;
}

.call-to-action-section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 40px;
}

.sign-up-text {
    color: #F9FAF8;
}

.sign-up-text .major-text {
    font-weight: 800;
    font-size: 30px;
}

.sign-up-text .minor-text {
    font-size: 18px;
}

.call-to-action-section button {
    border: 2px solid #F9FAF8;
}

.footer {
    text-align: center;
    padding: 30px;
    color: #F9FAF8;
}